html {
    height: 100%;

}

#app {
    grid-template-columns: 1fr;
    height: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 25%;
}

.hand {
    display: grid;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin:  0 auto;
    margin-bottom: 10px;
    min-height: 80px;
   
}

.hand span {
    display: inline-block;
    text-align: center;
    margin: auto;
}


.card {
    display: grid;
    border: 1px black solid;
    width: 100px;
    height: 75px;
}



